[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "marcxmlr"]
	path = marcxmlr
	url = https://github.com/larry77/marcxmlr
[submodule "summarisebig"]
	path = summarisebig
	url = https://github.com/larry77/summarisebig
